*:focus{
	border: 3px dotted white !important;
}

.panel-body ol{
	list-style-type: armenian;
}

.footer{
	background-color: #dff0d8;
    padding: 15px 0px;
    color: #3c763d;
}

.footer a{
	color:#3c763d;
}

#ex1Slider .slider-selection {
	background: #BABABA;
}

.page-header{
	margin: 0px 0 19px;
}